 /* Full credit to code.org for task */
img{
  width: 150px;
  height: 150px; /* Added height and made it 150px.*/
}

img:hover{
  transform: scale(1.5); /* Added a hover effect for the images. */
}

p{
  font-size: 20px; /* Added font size.*/
}

body{
  background-color: mediumpurple;
  color: white;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-align: center;
}
